:root {
	--main-color: #182c4f;
	--md-color: #4462ff;
	--lt-color: #f5f7fa;
	--primary-color: #638dff;
	--error-color: #ff485d;

	/* white & black */
	--white-color: #fff;
	--black-color: #000;

	/* gray scale */
	--gray-color-200: #efefef;
	--gray-color-500: #949494;
	--gray-color-500: #777777;

	/* media size */
	--media-desktop: 1024px;
	--media-tablet: 768px;
	--media-mobile: 578px;

	/* screen max, min width */
	--min-width: 375px;
	--max-width: 1200px;
}

* {
	box-sizing: border-box;

	font-family: Pretendard;
	font-size: 10px;
}
